# Config file for automatic testing at travis-ci.org
dist: bionic

matrix:
  include:
    - language: python
      python: 3.8
      cache:
        pip: true
        directories:
          - "$HOME/.cache/pypoetry"
      install:
        - pip install poetry
        - poetry config virtualenvs.create false
        - poetry install
      before_script:
        # create dummy directories
        - mkdir -p frontend/dist/static
      script: pytest -v --cov=app --cov-report=term-missing

    - language: node_js
      node_js: 14
      before_script: cd frontend
