[tool.poetry]
name = "eml_analyzer"
version = "0.1.0"
description = ""
authors = ["Manabu Niseki <manabu.niseki@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
aiofiles = "^0.5.0"
aiometer = "^0.2.1"
aiospamc = "^0.6.1"
arrow = "^0.16.0"
async-timeout = "^3.0.1"
beautifulsoup4 = "^4.9.1"
compoundfiles = "^0.3"
compressed-rtf = "^1.0.6"
dateparser = "^0.7.6"
eml_parser = {extras = ["filemagic"], version = "^1.14.0"}
fastapi = "^0.61.1"
fastapi-utils = "^0.2.1"
gunicorn = "^20.0.4"
html2text = "^2020.1.16"
httpx = "^0.14.3"
ioc-finder = "^4.0.2"
loguru = "^0.5.3"
oletools = "^0.55.1"
pydantic = "^1.6.1"
python-multipart = "^0.0.5"
uvicorn = "^0.11.8"
vt-py = "^0.5.4"

[tool.poetry.dev-dependencies]
asynctest = "^0.13.0"
autoflake = "^1.4"
autopep8 = "^1.5.4"
black = "^20.8b1"
coveralls = "^2.1.2"
flake8 = "^3.8.3"
isort = "^5.5.3"
mypy = "^0.782"
pre-commit = "^2.7.1"
pytest = "^6.0.2"
pytest-asyncio = "^0.15.0"
pytest-cov = "^2.10.1"
pytest-mock = "^3.3.1"
pytest-parallel = "^0.1.0"
pytest-randomly = "^3.4.1"
pytest-sugar = "^0.9.4"
pytest-timeout = "^1.4.2"
pyupgrade = "^2.7.2"
respx = "^0.12.1"
seed-isort-config = "^2.2.0"
vcrpy = "^4.1.0"
aioresponses = "^0.7.0"

[tool.isort]
force_grid_wrap = 0
include_trailing_comma = true
known_third_party = ["aiometer", "aioresponses", "aiospamc", "arrow", "async_timeout", "asynctest", "bs4", "compoundfiles", "compressed_rtf", "dateparser", "eml_parser", "fastapi", "fastapi_utils", "html2text", "httpx", "ioc_finder", "loguru", "magic", "olefile", "oletools", "pydantic", "pytest", "pytest_mock", "respx", "starlette", "vcr", "vt"]
line_length = 88
multi_line_output = 3
use_parentheses= true

[tool.pytest.ini_options]
minversion = "6.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
