[tool.poetry]
name = "eml_analyzer"
version = "0.1.0"
description = ""
authors = ["Manabu Niseki <manabu.niseki@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
aiofiles = "^0.5.0"
aiospamc = "^0.6.1"
arrow = "^0.15.7"
async-timeout = "^3.0.1"
compoundfiles = "^0.3"
compressed-rtf = "^1.0.6"
eml_parser = {extras = ["filemagic"], version = "^1.14.0"}
fastapi = "^0.60.0"
fastapi-utils = "^0.2.1"
gunicorn = "^20.0.4"
httpx = "^0.13.3"
ioc-finder = "^3.1.0"
loguru = "^0.5.1"
oletools = "^0.55.1"
pydantic = "^1.6.1"
python-multipart = "^0.0.5"
uvicorn = "^0.11.7"
dateparser = "^0.7.6"

[tool.poetry.dev-dependencies]
asynctest = "^0.13.0"
autoflake = "^1.3.1"
autopep8 = "^1.5.3"
black = "^19.10b0"
coveralls = "^2.1.1"
flake8 = "^3.8.3"
isort = "^5.1.3"
mypy = "^0.782"
pre-commit = "^2.6.0"
pytest = "^6.0.0"
pytest-asyncio = "^0.14.0"
pytest-cov = "^2.10.0"
pytest-mock = "^3.2.0"
pytest-parallel = "^0.1.0"
pytest-randomly = "^3.4.1"
pytest-sugar = "^0.9.4"
pytest-timeout = "^1.4.2"
pyupgrade = "^2.7.2"
respx = "^0.11.2"
seed-isort-config = "^2.2.0"

[tool.isort]
force_grid_wrap = 0
include_trailing_comma = true
known_third_party = ["aiospamc", "arrow", "async_timeout", "asynctest", "compoundfiles", "compressed_rtf", "dateparser", "eml_parser", "fastapi", "fastapi_utils", "httpx", "ioc_finder", "loguru", "magic", "olefile", "oletools", "pydantic", "pytest", "respx", "starlette"]
line_length = 88
multi_line_output = 3
use_parentheses= true

[tool.pytest.ini_options]
minversion = "6.0"
addopts = " --workers auto"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
