interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://www.virustotal.com/api/v3/files/275a021bbfb6489e54d471899f7db9d1663fc695ec2fe2a2c4538aabf651fd0f
    response:
      body:
        string:
          "{\n    \"data\": {\n        \"attributes\": {\n            \"type_description\":
          \"Text\",\n            \"tlsh\": \"T141A022003B0EEE2BA20B00200032E8B00808020E2CE00A3820A020B8C83308803EC228\",\n
          \           \"trid\": [\n                {\n                    \"file_type\":
          \"EICAR antivirus test file\",\n                    \"probability\": 100.0\n
          \               }\n            ],\n            \"antiy_info\": \"Trojan/Generic.ASBOL.2A\",\n
          \           \"crowdsourced_yara_results\": [\n                {\n                    \"description\":
          \"Rule to detect the EICAR pattern\",\n                    \"source\": \"https://github.com/advanced-threat-research/Yara-Rules\",\n
          \                   \"author\": \"Marc Rivero | McAfee ATR Team\",\n                    \"ruleset_name\":
          \"MALW_Eicar\",\n                    \"rule_name\": \"malw_eicar\",\n                    \"ruleset_id\":
          \"0019ab4291\"\n                },\n                {\n                    \"description\":
          \"Just an EICAR test file - this is boring but users asked for it\",\n                    \"source\":
          \"https://github.com/Neo23x0/signature-base\",\n                    \"author\":
          \"Florian Roth\",\n                    \"ruleset_name\": \"gen_suspicious_strings\",\n
          \                   \"rule_name\": \"SUSP_Just_EICAR\",\n                    \"ruleset_id\":
          \"000ae70a1a\"\n                }\n            ],\n            \"names\":
          [\n                \"eicar.com-27284\",\n                \"eicar.com-32493\",\n
          \               \"eicar.com-47683\",\n                \"eicar.com-5597\",\n
          \               \"eicar.com-23657\",\n                \"eicar.com-31458\",\n
          \               \"eicar.com-45199\",\n                \"eicar1.com\",\n                \"eicar.com-188637\",\n
          \               \"eicar.com-17027\",\n                \"eicar.com-28897\",\n
          \               \"[...]
