interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.virustotal.com/api/v3/files/275a021bbfb6489e54d471899f7db9d1663fc695ec2fe2a2c4538aabf651fd0f
  response:
    body:
      string: "{\n    \"data\": {\n        \"attributes\": {\n            \"crowdsourced_yara_results\":
        [\n                {\n                    \"description\": \"Just an EICAR
        test file - this is boring but users asked for it\",\n                    \"rule_name\":
        \"SUSP_Just_EICAR\",\n                    \"ruleset_id\": \"000ae70a1a\",\n
        \                   \"ruleset_name\": \"gen_suspicious_strings\",\n                    \"source\":
        \"https://github.com/Neo23x0/signature-base\"\n                }\n            ],\n
        \           \"first_submission_date\": 1148301722,\n            \"last_analysis_date\":
        1598233343,\n            \"last_analysis_results\": {\n                \"ALYac\":
        {\n                    \"category\": \"malicious\",\n                    \"engine_name\":
        \"ALYac\",\n                    \"engine_update\": \"20200823\",\n                    \"engine_version\":
        \"1.1.1.5\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"Misc.Eicar-Test-File\"\n                },\n                \"APEX\": {\n
        \                   \"category\": \"malicious\",\n                    \"engine_name\":
        \"APEX\",\n                    \"engine_update\": \"20200822\",\n                    \"engine_version\":
        \"6.62\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"EICAR Anti-Virus Test File\"\n                },\n                \"AVG\":
        {\n                    \"category\": \"malicious\",\n                    \"engine_name\":
        \"AVG\",\n                    \"engine_update\": \"20200823\",\n                    \"engine_version\":
        \"18.4.3895.0\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"EICAR Test-NOT virus!!!\"\n                },\n                \"Acronis\":
        {\n                    \"category\": \"type-unsupported\",\n                    \"engine_name\":
        \"Acronis\",\n                    \"engine_update\": \"20200806\",\n                    \"engine_version\":
        \"1.1.1.77\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        null\n                },\n                \"Ad-Aware\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"Ad-Aware\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"3.0.16.117\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"EICAR-Test-File (not a virus)\"\n
        \               },\n                \"AegisLab\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"AegisLab\",\n                    \"engine_update\":
        \"20200824\",\n                    \"engine_version\": \"4.2\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"Test.File.EICAR.y\"\n                },\n
        \               \"AhnLab-V3\": {\n                    \"category\": \"malicious\",\n
        \                   \"engine_name\": \"AhnLab-V3\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"3.18.1.10026\",\n
        \                   \"method\": \"blacklist\",\n                    \"result\":
        \"Virus/EICAR_Test_File\"\n                },\n                \"Alibaba\":
        {\n                    \"category\": \"malicious\",\n                    \"engine_name\":
        \"Alibaba\",\n                    \"engine_update\": \"20190527\",\n                    \"engine_version\":
        \"0.3.0.5\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"Trojan:MacOS/eicar.com\"\n                },\n                \"Antiy-AVL\":
        {\n                    \"category\": \"malicious\",\n                    \"engine_name\":
        \"Antiy-AVL\",\n                    \"engine_update\": \"20200823\",\n                    \"engine_version\":
        \"3.0.0.1\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"TestFile/Win32.EICAR\"\n                },\n                \"Arcabit\":
        {\n                    \"category\": \"malicious\",\n                    \"engine_name\":
        \"Arcabit\",\n                    \"engine_update\": \"20200823\",\n                    \"engine_version\":
        \"1.0.0.877\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"EICAR-Test-File (not a virus)\"\n                },\n                \"Avast\":
        {\n                    \"category\": \"malicious\",\n                    \"engine_name\":
        \"Avast\",\n                    \"engine_update\": \"20200823\",\n                    \"engine_version\":
        \"18.4.3895.0\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"EICAR Test-NOT virus!!!\"\n                },\n                \"Avast-Mobile\":
        {\n                    \"category\": \"malicious\",\n                    \"engine_name\":
        \"Avast-Mobile\",\n                    \"engine_update\": \"20200823\",\n
        \                   \"engine_version\": \"200823-00\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"Eicar\"\n                },\n
        \               \"Avira\": {\n                    \"category\": \"malicious\",\n
        \                   \"engine_name\": \"Avira\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"8.3.3.8\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"Eicar-Test-Signature\"\n
        \               },\n                \"Baidu\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"Baidu\",\n                    \"engine_update\":
        \"20190318\",\n                    \"engine_version\": \"1.0.0.2\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"Win32.Test.Eicar.a\"\n                },\n
        \               \"BitDefender\": {\n                    \"category\": \"malicious\",\n
        \                   \"engine_name\": \"BitDefender\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"7.2\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"EICAR-Test-File (not a virus)\"\n
        \               },\n                \"BitDefenderTheta\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"BitDefenderTheta\",\n
        \                   \"engine_update\": \"20200819\",\n                    \"engine_version\":
        \"7.2.37796.0\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"EICAR-Test-File (not a virus)\"\n                },\n                \"Bkav\":
        {\n                    \"category\": \"malicious\",\n                    \"engine_name\":
        \"Bkav\",\n                    \"engine_update\": \"20200822\",\n                    \"engine_version\":
        \"1.3.0.9899\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"DOS.EiracA.Trojan\"\n                },\n                \"CAT-QuickHeal\":
        {\n                    \"category\": \"malicious\",\n                    \"engine_name\":
        \"CAT-QuickHeal\",\n                    \"engine_update\": \"20200823\",\n
        \                   \"engine_version\": \"14.00\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"EICAR.TestFile\"\n                },\n
        \               \"CMC\": {\n                    \"category\": \"undetected\",\n
        \                   \"engine_name\": \"CMC\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"2.7.2019.1\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": null\n                },\n
        \               \"ClamAV\": {\n                    \"category\": \"malicious\",\n
        \                   \"engine_name\": \"ClamAV\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"0.102.4.0\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"Win.Test.EICAR_HDB-1\"\n
        \               },\n                \"Comodo\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"Comodo\",\n                    \"engine_update\":
        \"20200728\",\n                    \"engine_version\": \"32668\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"ApplicUnwnt@#2975xfk8s2pq1\"\n
        \               },\n                \"CrowdStrike\": {\n                    \"category\":
        \"type-unsupported\",\n                    \"engine_name\": \"CrowdStrike\",\n
        \                   \"engine_update\": \"20190702\",\n                    \"engine_version\":
        \"1.0\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        null\n                },\n                \"Cybereason\": {\n                    \"category\":
        \"type-unsupported\",\n                    \"engine_name\": \"Cybereason\",\n
        \                   \"engine_update\": \"20190616\",\n                    \"engine_version\":
        \"1.2.449\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        null\n                },\n                \"Cylance\": {\n                    \"category\":
        \"type-unsupported\",\n                    \"engine_name\": \"Cylance\",\n
        \                   \"engine_update\": \"20200824\",\n                    \"engine_version\":
        \"2.3.1.101\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        null\n                },\n                \"Cynet\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"Cynet\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"4.0.0.24\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"Malicious (score: 85)\"\n
        \               },\n                \"Cyren\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"Cyren\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"6.3.0.2\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"EICAR_Test_File\"\n                },\n
        \               \"DrWeb\": {\n                    \"category\": \"malicious\",\n
        \                   \"engine_name\": \"DrWeb\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"7.0.46.3050\",\n
        \                   \"method\": \"blacklist\",\n                    \"result\":
        \"EICAR Test File (NOT a Virus!)\"\n                },\n                \"ESET-NOD32\":
        {\n                    \"category\": \"malicious\",\n                    \"engine_name\":
        \"ESET-NOD32\",\n                    \"engine_update\": \"20200823\",\n                    \"engine_version\":
        \"21870\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"Eicar test file\"\n                },\n                \"Elastic\": {\n
        \                   \"category\": \"malicious\",\n                    \"engine_name\":
        \"Elastic\",\n                    \"engine_update\": \"20200817\",\n                    \"engine_version\":
        \"4.0.7\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"eicar\"\n                },\n                \"Emsisoft\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"Emsisoft\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"2018.12.0.1641\",\n
        \                   \"method\": \"blacklist\",\n                    \"result\":
        \"EICAR-Test-File (not a virus) (B)\"\n                },\n                \"F-Secure\":
        {\n                    \"category\": \"malicious\",\n                    \"engine_name\":
        \"F-Secure\",\n                    \"engine_update\": \"20200824\",\n                    \"engine_version\":
        \"12.0.86.52\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"EICAR_Test_File\"\n                },\n                \"FireEye\": {\n
        \                   \"category\": \"malicious\",\n                    \"engine_name\":
        \"FireEye\",\n                    \"engine_update\": \"20200824\",\n                    \"engine_version\":
        \"32.36.1.0\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"EICAR-Test-File (not a virus)\"\n                },\n                \"Fortinet\":
        {\n                    \"category\": \"malicious\",\n                    \"engine_name\":
        \"Fortinet\",\n                    \"engine_update\": \"20200823\",\n                    \"engine_version\":
        \"6.2.142.0\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"EICAR_TEST_FILE\"\n                },\n                \"GData\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"GData\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"A:25.26723B:27.19911\",\n
        \                   \"method\": \"blacklist\",\n                    \"result\":
        \"EICAR_TEST_FILE\"\n                },\n                \"Ikarus\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"Ikarus\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"0.1.5.2\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"EICAR-Test-File\"\n                },\n
        \               \"Invincea\": {\n                    \"category\": \"type-unsupported\",\n
        \                   \"engine_name\": \"Invincea\",\n                    \"engine_update\":
        \"20200502\",\n                    \"engine_version\": \"6.3.6.26157\",\n
        \                   \"method\": \"blacklist\",\n                    \"result\":
        null\n                },\n                \"Jiangmin\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"Jiangmin\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"16.0.100\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"EICAR-Test-File\"\n                },\n
        \               \"K7AntiVirus\": {\n                    \"category\": \"malicious\",\n
        \                   \"engine_name\": \"K7AntiVirus\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"11.131.35078\",\n
        \                   \"method\": \"blacklist\",\n                    \"result\":
        \"EICAR_Test_File\"\n                },\n                \"K7GW\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"K7GW\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"11.131.35078\",\n
        \                   \"method\": \"blacklist\",\n                    \"result\":
        \"EICAR_Test_File\"\n                },\n                \"Kaspersky\": {\n
        \                   \"category\": \"malicious\",\n                    \"engine_name\":
        \"Kaspersky\",\n                    \"engine_update\": \"20200824\",\n                    \"engine_version\":
        \"15.0.1.13\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"EICAR-Test-File\"\n                },\n                \"Kingsoft\": {\n
        \                   \"category\": \"malicious\",\n                    \"engine_name\":
        \"Kingsoft\",\n                    \"engine_update\": \"20200824\",\n                    \"engine_version\":
        \"2013.8.14.323\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"Test.eicar.aa\"\n                },\n                \"MAX\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"MAX\",\n                    \"engine_update\":
        \"20200824\",\n                    \"engine_version\": \"2019.9.16.1\",\n
        \                   \"method\": \"blacklist\",\n                    \"result\":
        \"malware (ai score=100)\"\n                },\n                \"Malwarebytes\":
        {\n                    \"category\": \"undetected\",\n                    \"engine_name\":
        \"Malwarebytes\",\n                    \"engine_update\": \"20200824\",\n
        \                   \"engine_version\": \"3.6.4.335\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": null\n                },\n
        \               \"MaxSecure\": {\n                    \"category\": \"malicious\",\n
        \                   \"engine_name\": \"MaxSecure\",\n                    \"engine_update\":
        \"20200820\",\n                    \"engine_version\": \"1.0.0.1\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"Virus.COM.Eicar.TestFile\"\n
        \               },\n                \"McAfee\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"McAfee\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"6.0.6.653\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"EICAR test file\"\n                },\n
        \               \"MicroWorld-eScan\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"MicroWorld-eScan\",\n
        \                   \"engine_update\": \"20200824\",\n                    \"engine_version\":
        \"14.0.409.0\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"EICAR-Test-File\"\n                },\n                \"Microsoft\": {\n
        \                   \"category\": \"malicious\",\n                    \"engine_name\":
        \"Microsoft\",\n                    \"engine_update\": \"20200823\",\n                    \"engine_version\":
        \"1.1.17300.4\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"Virus:DOS/EICAR_Test_File\"\n                },\n                \"NANO-Antivirus\":
        {\n                    \"category\": \"malicious\",\n                    \"engine_name\":
        \"NANO-Antivirus\",\n                    \"engine_update\": \"20200823\",\n
        \                   \"engine_version\": \"1.0.134.25140\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"Marker.Dos.EICAR-Test-File.dyb\"\n
        \               },\n                \"Paloalto\": {\n                    \"category\":
        \"type-unsupported\",\n                    \"engine_name\": \"Paloalto\",\n
        \                   \"engine_update\": \"20200824\",\n                    \"engine_version\":
        \"1.0\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        null\n                },\n                \"Panda\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"Panda\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"4.6.4.2\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"EICAR-AV-TEST-FILE\"\n                },\n
        \               \"Qihoo-360\": {\n                    \"category\": \"malicious\",\n
        \                   \"engine_name\": \"Qihoo-360\",\n                    \"engine_update\":
        \"20200824\",\n                    \"engine_version\": \"1.0.0.1120\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"qex.eicar.gen.gen\"\n                },\n
        \               \"Rising\": {\n                    \"category\": \"malicious\",\n
        \                   \"engine_name\": \"Rising\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"25.0.0.26\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"EICAR-Test-File (CLASSIC)\"\n
        \               },\n                \"SUPERAntiSpyware\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"SUPERAntiSpyware\",\n
        \                   \"engine_update\": \"20200821\",\n                    \"engine_version\":
        \"5.6.0.1032\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"NotAThreat.EICAR[TestFile]\"\n                },\n                \"Sangfor\":
        {\n                    \"category\": \"malicious\",\n                    \"engine_name\":
        \"Sangfor\",\n                    \"engine_update\": \"20200814\",\n                    \"engine_version\":
        \"1.0\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"Malware\"\n                },\n                \"SentinelOne\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"SentinelOne\",\n                    \"engine_update\":
        \"20200724\",\n                    \"engine_version\": \"4.4.0.0\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"DFI - Malicious COM\"\n
        \               },\n                \"Sophos\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"Sophos\",\n                    \"engine_update\":
        \"20200824\",\n                    \"engine_version\": \"4.98.0\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"EICAR-AV-Test\"\n                },\n
        \               \"Symantec\": {\n                    \"category\": \"malicious\",\n
        \                   \"engine_name\": \"Symantec\",\n                    \"engine_update\":
        \"20200821\",\n                    \"engine_version\": \"1.11.0.0\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"EICAR Test String\"\n                },\n
        \               \"SymantecMobileInsight\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"SymantecMobileInsight\",\n
        \                   \"engine_update\": \"20200813\",\n                    \"engine_version\":
        \"2.0\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"ALG:EICAR Test String\"\n                },\n                \"TACHYON\":
        {\n                    \"category\": \"malicious\",\n                    \"engine_name\":
        \"TACHYON\",\n                    \"engine_update\": \"20200824\",\n                    \"engine_version\":
        \"2020-08-24.01\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"EICAR-Test-File\"\n                },\n                \"Tencent\": {\n
        \                   \"category\": \"malicious\",\n                    \"engine_name\":
        \"Tencent\",\n                    \"engine_update\": \"20200824\",\n                    \"engine_version\":
        \"1.0.0.1\",\n                    \"method\": \"blacklist\",\n                    \"result\":
        \"EICAR.TEST.NOT-A-VIRUS\"\n                },\n                \"TotalDefense\":
        {\n                    \"category\": \"malicious\",\n                    \"engine_name\":
        \"TotalDefense\",\n                    \"engine_update\": \"20200823\",\n
        \                   \"engine_version\": \"37.1.62.1\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"the EICAR test string\"\n
        \               },\n                \"TrendMicro\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"TrendMicro\",\n                    \"engine_update\":
        \"20200824\",\n                    \"engine_version\": \"11.0.0.1006\",\n
        \                   \"method\": \"blacklist\",\n                    \"result\":
        \"Eicar_test_file\"\n                },\n                \"TrendMicro-HouseCall\":
        {\n                    \"category\": \"malicious\",\n                    \"engine_name\":
        \"TrendMicro-HouseCall\",\n                    \"engine_update\": \"20200824\",\n
        \                   \"engine_version\": \"10.0.0.1040\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"Eicar_test_file\"\n                },\n
        \               \"Trustlook\": {\n                    \"category\": \"type-unsupported\",\n
        \                   \"engine_name\": \"Trustlook\",\n                    \"engine_update\":
        \"20200824\",\n                    \"engine_version\": \"1.0\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": null\n                },\n
        \               \"VBA32\": {\n                    \"category\": \"malicious\",\n
        \                   \"engine_name\": \"VBA32\",\n                    \"engine_update\":
        \"20200821\",\n                    \"engine_version\": \"4.4.1\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"EICAR-Test-File\"\n                },\n
        \               \"VIPRE\": {\n                    \"category\": \"malicious\",\n
        \                   \"engine_name\": \"VIPRE\",\n                    \"engine_update\":
        \"20200824\",\n                    \"engine_version\": \"86160\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"EICAR (v)\"\n                },\n
        \               \"ViRobot\": {\n                    \"category\": \"malicious\",\n
        \                   \"engine_name\": \"ViRobot\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"2014.3.20.0\",\n
        \                   \"method\": \"blacklist\",\n                    \"result\":
        \"EICAR-test\"\n                },\n                \"Webroot\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"Webroot\",\n                    \"engine_update\":
        \"20200824\",\n                    \"engine_version\": \"1.0.0.403\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"W32.Eicar.Testvirus.Gen\"\n
        \               },\n                \"Yandex\": {\n                    \"category\":
        \"malicious\",\n                    \"engine_name\": \"Yandex\",\n                    \"engine_update\":
        \"20200707\",\n                    \"engine_version\": \"5.5.2.24\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"EICAR_test_file\"\n                },\n
        \               \"Zillya\": {\n                    \"category\": \"malicious\",\n
        \                   \"engine_name\": \"Zillya\",\n                    \"engine_update\":
        \"20200821\",\n                    \"engine_version\": \"2.0.0.4159\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"EICAR.TestFile\"\n                },\n
        \               \"ZoneAlarm\": {\n                    \"category\": \"malicious\",\n
        \                   \"engine_name\": \"ZoneAlarm\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"1.0\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"EICAR-Test-File\"\n                },\n
        \               \"Zoner\": {\n                    \"category\": \"malicious\",\n
        \                   \"engine_name\": \"Zoner\",\n                    \"engine_update\":
        \"20200823\",\n                    \"engine_version\": \"0.0.0.0\",\n                    \"method\":
        \"blacklist\",\n                    \"result\": \"EICAR.Test.File-NoVirus.250\"\n
        \               },\n                \"eGambit\": {\n                    \"category\":
[...]
