interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://www.virustotal.com/api/v3/files/e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
    response:
      body:
        string:
          "{\n    \"data\": {\n        \"attributes\": {\n            \"type_description\":
          \"unknown\",\n            \"tlsh\": \"TNULL\",\n            \"nsrl_info\":
          {\n                \"products\": [\n                    \"DRAW (Corel Corporation)\",\n
          \                   \"Photo-Paint (Corel Corporation)\",\n                    \"Commerce
          Server Developer Edition (Microsoft)\",\n                    \"Exchange Server
          Enterprise Edition (Microsoft)\",\n                    \"eMbedded Visual Tools
          (Microsoft)\",\n                    \"Internet Security and Acceleration Server
          - Enterprise Edition (Microsoft)\",\n                    \"Commerce Server
          - Developer Edition (Microsoft)\",\n                    \"Linux (Corel Corporation)\",\n
          \                   \"Yourideallink.com (Ideal link Inc.)\",\n                    \"NSRL
          Test (NIST)\",\n                    \"Visio (Microsoft)\",\n                    \"Visio
          Enterprise Edition (Microsoft)\",\n                    \"EarthLink (Earthlink
          Inc.)\",\n                    \"Riven (Red Orb)\",\n                    \"Quicken
          (Intuit Inc.)\",\n                    \"Get Set to Learn (Creative Wonders)\",\n
          \                   \"MySQL (NuSphere Corporation)\",\n                    \"Windows
          (Microsoft)\",\n                    \"QuickBooks (Intuit Inc.)\",\n                    \"Tivoli
          Manager (Tivoli)\"\n                ],\n                \"filenames\": [\n
          \                   \"1, Augustin, Butterfield, Cook, Copperplate Gothic (1,
          Copperplate Gothic (8, Drummer, Erickson, Eurostile (1, Eurostile 2 (3, FJSV,
          FMI, Flynn, Gorman, Holmes, Ivey, Jirik, Koval, Lovitz, MAHJONGG.{EASY, Met
          Turn, Midstokke, NATE, Nipstad, Oak, Papenfuss, Quigley, Rada, Ross, SUNW,
          Schue, Sorry, TI, Thuen, Uglem, Univers (1-5, Univers Condensed (2, Vorhees,
          Wicker, Xanadu, Yaeger, Zimmerman, btmgr.spec, nasm.[...]
