name: Python CI

on:
  push:
    branches: [master]
    paths:
      - ".github/workflows/python.yml"
      - "backend/**"
      - "pyproject.toml"
      - "requirements.txt"
      - "tests/**"
      - "uv.lock"
  pull_request:
    branches: [master]
    paths:
      - ".github/workflows/python.yml"
      - "backend/**"
      - "pyproject.toml"
      - "requirements.txt"
      - "tests/**"
      - "uv.lock"

env:
  PYTHON_VERSION: 3.11

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: "pip"
      - run: pip install -r requirements.txt
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/uv
          key: uv-${{ env.PYTHON_VERSION }}-${{ hashFiles('uv.lock') }}
      - run: uv sync --frozen
      - run: uv run ruff check backend/ tests/
  test:
    runs-on: ubuntu-latest
    services:
      spamassassin:
        image: instantlinux/spamassassin:4.0.0-6
        ports:
          - 783:783
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: "pip"
      - run: pip install -r requirements.txt
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/uv
          key: uv-${{ env.PYTHON_VERSION }}-${{ hashFiles('uv.lock') }}
      - run: uv sync --frozen
      - name: Make dummy frontend directory
        run: mkdir -p frontend/dist/
      - name: Wait until SpamAssasin ready
        run: uv run python scripts/ping.py
      - name: Run tests
        run: uv run coverage run -m pytest
      - name: Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: uv run coveralls
